<!DOCTYPE HTML>
<html lang=”pt-br”>
<head>
    <meta charset=”UTF-8”>
    <title>Word Cloud Analytics</title>
    <link rel="icon" type="image/x-icon" href="https://cuscuzmachine.com/assets/images/favicon.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/bootstrap.css') }}">
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <link rel="stylesheet" href="https://cuscuzmachine.com/assets/css/style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/LineIcons.css') }}">


    <style>
        #pai{
            width: 800px;
            height: 450px;
        }
    </style>
</head>
<body>
<div class="container-sm mt-5">
    <div class="row">
        <div class="col">
            <div class="input-group mb-3">
                <input type="text" id="word-search" class="form-control mx-2" placeholder="write word and press enter" aria-label="write word and press enter" aria-describedby="button-addon1"><br>
                <button class="btn btn-outline-secondary" type="button" id="btn-add" onclick="add()">Add</button>
{#                <button class="btn btn-outline-secondary" type="button" id="button-addon1" onclick="run()">Run</button>#}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div id="words-search">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <canvas id="myChart"></canvas>
        </div>
    </div>
    <div class="row m-5">
        <div class="col">
        </div>
    </div>
</div>

<footer id="footer" class="footer-area">
        <div class="footer-widget pt-130 pb-130">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="footer-content text-center">
                            <a target="_blank" href="https://cuscuzmachine.com">
                                <img src="https://cuscuzmachine.com/assets/images/logo-3-1.png" alt="Logo">
                            </a>
                            <ul>
                                <li><a target="_blank" href="https://www.facebook.com/wemy.felype.5"><i class="lni-facebook-filled"></i></a></li>
                                <!-- <li><a target="_blank" href="#"><i class="lni-twitter-original"></i></a></li> -->
                                <!-- <li><a target="_blank" href="#"><i class="lni-pinterest"></i></a></li> -->
                                <li><a target="_blank" href="https://web.whatsapp.com/send?phone=+5585987741858&amp;text=Olá Wemy, tudo bem? vi seu curriculo e gostaria de falar com você"><i class="lni lni-whatsapp"></i></a></li>
                                <li><a target="_blank" href="https://www.linkedin.com/in/wemy-felipe/"><i class="lni-linkedin-original"></i></a></li>
                            </ul>
                        </div> <!-- footer content -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- footer widget -->
        <div class="footer-copyright pb-20">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="copyright-text text-center pt-20">
                            <p>Copyright © 2021.</p>
                            <!-- <p>Copyright © 2022. Template Crafted by <a href="https://uideck.com" rel="nofollow">UIdeck</a></p> -->
                        </div> <!-- copyright text -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- footer widget -->
    </footer>

</body>

<script>
    const ctx = document.getElementById('myChart');
    let chart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: [],
      datasets: []
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
    });

    const getLabels = () => {
      let childrens = document.getElementById("words-search").children

      let labels = []

      for (let item of childrens) {
          labels.push(item.innerText);
      }

      return labels

    }

    const run = () => {
      var myHeaders = new Headers();
      myHeaders.append("Content-Type", "application/json");

      var raw = JSON.stringify(getLabels());

      var requestOptions = {
        method: 'POST',
        headers: myHeaders,
        body: raw,
        redirect: 'follow'
      };

      fetch("/process", requestOptions)
          .then(response => response.text())
          .then(result => {
              let response = JSON.parse(result)
              chart.data.labels = response.labels
              chart.data.datasets = response.dataset
              chart.update()
          })
          .catch(error => console.log('error', error));

    }

    const validLimit = () => {
    if(document.getElementById("words-search").childElementCount >= 4) {
        document.getElementById("word-search").disabled = true
        document.getElementById("btn-add").disabled = true
    }else{
        document.getElementById("word-search").disabled = false
        document.getElementById("btn-add").disabled = false
    }
    }

    const removeBadge = (event) => {
      event.target.closest('.badge').remove()
      validLimit()
      run()
    }

    const add = () => {
      let word = document.getElementById("word-search")

      if(word.value) {

          let span = createBadge(word.value)

          document.getElementById("words-search").appendChild(span)
          word.value = ""
          validLimit()
          run()
      }

    }

    const createBadge = (text) => {

        let span = document.createElement("span")
        span.classList.add('badge');
        span.classList.add('badge-dark');
        span.classList.add('mx-1');

        let iconClose = document.createElement('i')
        iconClose.classList.add('bi')
        iconClose.classList.add('bi-x-circle-fill')

        let linkClose = document.createElement('a')
        linkClose.appendChild(iconClose)
        linkClose.classList.add('mx-1');
        linkClose.onclick = removeBadge

        span.innerHTML = text
        span.appendChild(linkClose)

        return span
    }

    let input = document.getElementById("word-search");
    input.addEventListener("keypress", function(event) {
        if (event.key === "Enter") {
            event.preventDefault();
            add()
        }
    });

</script>

</html>